.fa-bars {
  color: black;
}

button {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }
  button:hover, button:focus {
    text-decoration: none !important;
    outline: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important; }


.wrapper {
  width: 100%; }

#sidebar {
  min-width: 270px;
  max-width: 270px;
  background: #E9EEEE;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  position: relative; }
  #sidebar.active {
    margin-left: -270px; }

  @media (max-width: 991.98px) {
    #sidebar {
      margin-left: -270px; }
      #sidebar.active {
        margin-left: 0; } }
  #sidebar .custom-menu {
    display: inline-block;
    position: absolute;
    top: 20px;
    right: 0;
    margin-right: -20px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    @media (prefers-reduced-motion: reduce) {
      #sidebar .custom-menu {
        -webkit-transition: none;
        -o-transition: none;
        transition: none; } }
    #sidebar .custom-menu .btn {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      position: relative; }
      #sidebar .custom-menu .btn i {
        margin-right: -40px;
        font-size: 14px; }
      #sidebar .custom-menu .btn.btn-primary {
        background: transparent;
        border-color: transparent; }
        #sidebar .custom-menu .btn.btn-primary:after {
          z-index: -1;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          content: '';
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
          background: #E9EEEE;
          border-radius: 10px; }
        #sidebar .custom-menu .btn.btn-primary:hover, #sidebar .custom-menu .btn.btn-primary:focus {
          background: transparent !important;
          border-color: transparent !important; }

#content {
  width: 100%;
  padding: 0;
  min-height: 90vh;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
